body {
  font-family: 'Red Hat Display';
}
:root {
  --brand-red: #BA2025;
  --brand-blue: #153860;
  --brand-yello: #FECE06;
  --brand-green: #006848;
  --brand-light-gray: #B3B3B3;
  --brand-dark-gray: #50545F;
}
.text-brand-red {
  color: var(--brand-red);
}
.text-brand-blue {
  color: var(--brand-blue);
}
.text-brand-yellow {
  color: var(--brand-yellow);
}
.text-brand-green {
  color: var(--brand-green);
}
.text-brand-light-gray {
  color: var(--brand-light-gray);
}
.text-brand-dark-gray {
  color: var(--brand-dark-gray);
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Serif 4', serif;
  color: var(--brand-blue);
}
.btn-brand-blue {
  background-color: var(--brand-blue);
  &:hover {
    text-decoration: none;
  }
}
a {
  &:hover {
    text-decoration: underline;
  }
  img {
    border: 0;
  }
}
#addEvent a {
  &:hover {
    text-decoration: none;
  }
}
/* Make ol numbers bold */
ol > li::marker {
  font-weight: bold;
}
/* Less padding between bullets and content */
ul > li::marker {
  margin: 0px !important;
}
/*
.hero-primary {
  @media (min-width: 1024px) {
    background: right no-repeat url('../images/pencils.png');
    background-size: 25%;
  }
  width: 100%;
  h1 {
    @media (min-width: 1024px) {
      width: 10em;
    }
  }
}
*/