@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* END SHADCN - START CUSTOM */

:root {
  --foreground-rgb: 75, 75, 75;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 252, 252, 252;

  --brand-red: #BA2025;
  --brand-blue: #153860;
  --brand-yello: #FECE06;
  --brand-green: #006848;
  --brand-light-gray: #B3B3B3;
  --brand-dark-gray: #50545F;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
/*  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ---- CUSTOM ---- */
.text-brand-red {
  color: var(--brand-red);
}

.text-brand-blue {
  color: var(--brand-blue);
}

.text-brand-yellow {
  color: var(--brand-yellow);
}

.text-brand-green {
  color: var(--brand-green);
}

.text-brand-light-gray {
  color: var(--brand-light-gray);
}

.text-brand-dark-gray {
  color: var(--brand-dark-gray);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Serif 4', serif;
  color: var(--brand-blue);
}

.btn-brand-blue {
  background-color: var(--brand-blue);
  &:hover {
    text-decoration: none;
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
}

ol > li::marker {
  font-weight: bold;
}

.hero {
  @media (min-width: 1024px) {
    /*background: right no-repeat url('../images/pencils.png');*/
    background-size: 25%;
  }
  width: 100%;
  h1 {
    @media (min-width: 1024px) {
      width: 10em;
    }
  }
}